:root {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto 100px;
    /* background: linear-gradient(to left, lightgray, rgb(150, 171, 192)); */
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* gap: 5px; */
    grid-template-areas:
        "sidebar header"
        "sidebar content"
        "footer footer"
}

button {
    background-color: #160c50;
    color: white;
    font-size: .8rem;
    height: 2rem;
    width: 4rem;
    margin: .2rem;
    border-radius: .8rem;
    font-weight: bolder;
    /* box-shadow: inset 0px 0px 5px 3px white; */
    border: none;
}
.sidebar {
    background-color: #FDF4F5;
    grid-area: sidebar;
}

ul {
    padding-left: 1rem;
    margin-top: 2rem;
}

li {
    font-size: .9rem;
    margin-top: -1rem;
    list-style: none;
    display: flex;
    align-items: center;
}
    
img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.2rem;
    font-weight:lighter;
}

.logoicon {
    width: 2rem;
    height: 2rem;
}

.header {
    background-color: #C0DBEA;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "search uppernav"
        "gcontainer lowernav";
    
}

.userprof {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: none;
    border-radius: 50%;
}

#usericon {
    width: 2.5rem;
    height: 2.5rem;
}

input {
    background-color: white;
    border-radius: 2em;
    flex: 1;
    margin-right: 2rem;
}

.search {
    display: flex;
    align-items: center;
    grid-area: search;
}

.uppernav {
    grid-area: uppernav;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 3px;
}

.uppernav p {
    font-size: .9rem;
    font-weight: bold;
    /* padding-left: 1rem; */
}

.lowernav {
    grid-area: lowernav;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}

.gcontainer {
    grid-area: gcontainer;
    display: flex;
    align-items: center;
}

.greeting h2 {
    font-size: 1.2rem;
}

.greeting p,
.greeting h2 {
    margin: 0px;
}

.greeting p {
    font-size: .8rem;
}

/* .nav>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.content {
    grid-area: content;
    /* background: linear-gradient(to right, rgb(230, 230, 230), #e0e0e0); */
    box-shadow:inset 10px 10px 10px -10px gray;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cardtitle,
.content h3 {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    align-items: start;
}
.cardtitle {
    margin-bottom: -1rem;
}

.cardwrapper {
    /* border: 1px solid black; */
    border-radius: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background:whitesmoke;
    font-size: smaller;
    box-shadow: 0px 0px 15px -4px gray;
}

.card {
    border-left: 4px solid #BA90C6;
    padding-left: .5rem;
}

.cardtwo,
.cardthree {
    /* border: 1px solid black; */
    border-radius: .2rem;
    padding: .5rem;
    margin: .5rem;
    background:whitesmoke;
    font-size: smaller;
    /* box-shadow: 0px 0px 8px; */
}

.siteinfo {
    font-size: smaller;
}

.footer {
    grid-area: footer;
}

